* {
  box-sizing: border-box;
}

.frame313774 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Neutro-Cinza---50, #f7f8f8);
  padding: 80px 28px;
  width: 1440px;
  height: 949px;
  row-gap: 56px;

  .frame {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 6px;
    margin-right: 608px;
    margin-left: 608px;

    .frame313842 {
      flex-shrink: 0;
      border-radius: 8px;
      width: 40px;
      height: 40px;
    }

    .cMvfCil3 {
      flex-shrink: 0;
      line-height: 32px;
      letter-spacing: -1.46px;
      color: #000000;
      font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 29px;
      font-weight: 600;

      .cMvfCil {
        line-height: 32px;
        letter-spacing: -1.46px;
        color: var(--Secund-rio-Secund-rio---900, #02363c);
        font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 29px;
        font-weight: 600;
      }

      .cMvfCil2 {
        line-height: 32px;
        letter-spacing: -1.46px;
        color: var(--Prim-rio-Prim-rio---500, #0ab86d);
        font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 29px;
        font-weight: 600;
      }
    }
  }

  .frame313762 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: 372px;
    margin-left: 372px;
    row-gap: 24px;

    .r {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Neutro-Cinza---800, #292d2d);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .padrO {
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Neutro-Cinza---400, #95a8a6);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .label3 {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Neutro-Cinza---950, #01040e);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 500;
    }

    .label {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Base-Branco, #ffffff);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 500;
    }

    .iconesBotEs {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .frame313668 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 48px;

      .cadastroDaEmpresa {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Zinco-800, #27272a);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .informeOsDadosDaSuaE {
        flex-shrink: 0;
        width: 369px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Zinco-500, #71717a);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
      }
    }

    .vector1Stroke {
      flex-shrink: 0;
      align-self: stretch;
      background: var(--Neutro-Cinza---200, #e1e5e4);
      height: 1px;
    }

    .frame313781 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;
      border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
      border-radius: 16px;
      background: var(--Base-Branco, #ffffff);
      padding: 15px;

      .rectangle1352 {
        flex-shrink: 0;
        border-radius: 150px;
        background-color: #374151;
        width: 114px;
        height: 114px;
        background-image: url(../image/ml7alv09-ppm778z.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .frame313631 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 8px;

        .frame313782 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          margin-right: 160px;

          .botOPrimRio {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border: 1px solid var(--Prim-rio-Prim-rio---600, #059e5d);
            border-radius: 8px;
            background: var(--Prim-rio-Prim-rio---500, #0ab86d);
            padding: 9px 15px;
            height: 32px;
            overflow: hidden;
          }

          .botODestructive {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border: 1px solid var(--Sistema-Vermelho-Vermelho---500, #ff2f54);
            border-radius: 8px;
            padding: 9px 15px;
            height: 32px;
            overflow: hidden;

            .label2 {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: var(--Sistema-Vermelho-Vermelho---500, #ff2f54);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .tamanhoRecomendado60 {
          flex-shrink: 0;
          width: 369px;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Neutro-Cinza---400, #95a8a6);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .inputsEDropdownComLa {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .inputBranco {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
        border-radius: 8px;
        background: var(--Base-Branco, #ffffff);
        padding: 12px 526px 12px 15px;
        overflow: hidden;
      }
    }

    .frame313941 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 24px;

      .inputsEDropdownComLa2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 8px;

        .inputBranco2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
          border-radius: 8px;
          background: var(--Base-Branco, #ffffff);
          padding: 12px 229px 12px 15px;
          overflow: hidden;
        }
      }

      .inputsEDropdownComLa3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        height: 73px;
        row-gap: 8px;

        .inputBranco3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
          border-radius: 8px;
          background: var(--Base-Branco, #ffffff);
          padding: 12px 182px 12px 15px;
          overflow: hidden;
        }
      }
    }

    .frame313908 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 24px;

      .inputsEDropdownComLa4 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .inputBranco4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
          border-radius: 8px;
          background: var(--Base-Branco, #ffffff);
          padding: 12px 231px 12px 15px;
          overflow: hidden;
        }
      }

      .inputsEDropdownComLa5 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .sufixoEPrefixo {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .frame313231 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            border-radius: 8px 0px 0px 8px;
            background: var(--Neutro-Cinza---200, #e1e5e4);
            padding: 11px 13px;
            overflow: hidden;
            row-gap: 10px;
          }

          .inputBranco5 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
            border-radius: 0px 8px 8px 0px;
            background: var(--Base-Branco, #ffffff);
            padding: 10px 166px 10px 15px;
            overflow: hidden;
          }
        }
      }
    }

    .inputsEDropdownComLa6 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 332px;
      row-gap: 8px;

      .dropdownBranco {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border: 1px solid var(--Neutro-Cinza---200, #e1e5e4);
        border-radius: 8px;
        background: var(--Base-Branco, #ffffff);
        padding: 14px 15px;
        height: 44px;
        overflow: hidden;
      }
    }

    .botOPrimRio2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 8px;
      border: 1px solid var(--Prim-rio-Prim-rio---600, #059e5d);
      border-radius: 8px;
      background: var(--Prim-rio-Prim-rio---500, #0ab86d);
      padding: 9px 15px;
      height: 44px;
      overflow: hidden;
    }
  }
}
